@model DMartMallSoftware.Models.DemandModel

@{
    ViewData["Title"] = "AcceptRequest";
}

<h1>Accept Request</h1>


<hr />
<div class="row">
    <div class="col-md-4 d-block m-auto">
        <form asp-action="AcceptRequest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card shadow">

                <div class="card-body">

                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer col-md-12  row d-block m-auto">
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <a class="mt-3" asp-controller="Dealer" asp-action="ShowAllDemandsForDealer"><p class=" float-end">Back to List</p></a>
                    </div>
                </div>
            </div>



        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
