@model DMartMallSoftware.Models.ProductModel

@{
    ViewData["Title"] = "AddProduct";
}

<h1>Add Product</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quentity" class="control-label"></label>
                <input asp-for="Quentity" class="form-control" />
                <span asp-validation-for="Quentity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountPerc" class="control-label"></label>
                <select asp-for="DiscountId" class="form-control" asp-items="@(new SelectList(ViewBag.DiscountTypes,"Id","DiscountPerc"))">

                </select>
                </div>
                <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="ShowAllStock">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
