@model DMartMallSoftware.Models.StaffModel

@{
    ViewData["Title"] = "ForgotPassword";
}
<h1>Verify Credentials</h1>



<hr />
<div class="row mt-5">
    <div class="col-md-4  d-block m-auto">
        <form asp-action="ForgotPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card shadow">

                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Quetion" class="control-label"></label>
                        <select asp-for="QuetionId" class="form-control" asp-items="@(new SelectList(ViewBag.Quetions,"Id","Quetion"))">
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Answer" class="control-label"></label>
                        <input asp-for="Answer" class="form-control"/>
                        <span asp-validation-for="Answer" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer col-md-12  row d-block m-auto">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                    <a class="mt-3" asp-controller="Register" asp-action="SignIn"><p class=" float-end">GoTo SignIn</p></a>
                </div>

            </div>



        </form>
    </div>
</div>

<br />


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
